body {
  margin: 0;
  font-weight: 300;
  font-size: 20px;
}

.container {
  font-weight: bold;
  margin: 0 auto;
}

.logo {
 float: left;
 padding: 10px 290px;
}

header {
  background-color: #55d6aa;
}
header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: right;
  position: sticky;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 90px;
  padding-top: 50px;
  padding-right: 50px;
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 500;
}

nav a:hover {
  color: purple;

}

nav a::before{
  content: '';
  display: block;
  height: 5px;
  background-color: #444;
  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 500ms;
}

nav a:hover::before {
  width: 100%;
}

h2 {
  font-family: cursive;
  text-align: center;
}

.all-browsers {
  margin: 0;
  padding: 5px;
  background-color: lightgray;
}

.all-browsers > h1, .browser {
  margin: 10px;
  padding: 5px;
}

.browser {
  background: white;
}

.browser > h2, p {
  margin: 4px;
  font-size: 90%;
}

/* the order of the link styles below matters as the company is going to follow them step by step */

.browser a:link {
  text-decoration: none;
  color: green;
}

.browser a:visited {
  text-decoration: none;
  color: green;
}

.browser a:hover, a:focus {
  color: purple;
}

.browser a:active {
  text-decoration: underline;
  text-decoration-color: red;
  color: red;
}
/*the link styling above only applies to links inside the browsers*/
